h1, p, label, a {
    color: rgb(184, 214, 215);
}
.contactLinks {
    display: inline-block;
    float: right;
}
@media only screen and (max-width: 585px){
    .container {
        width: 100vw;
        margin: auto 0;
        margin-top: 100px;
        float: none;
    }
    .contactLinks {

    }
}
.card {
    background-color: rgb(74, 144, 243);
}
.card-title, .card-text {
    color: rgb(46, 69, 92);
}
.btn-secondary {
    background-color: rgb(46, 69, 92);
    color: rgb(184, 214, 215);
}